@use "./variables";

.blog-page {
    header {
        background-image: url(../assets/blog-header.jpg);
        }
        .blog-underline {
            border-bottom: 2px solid variables.$dandelion;
        }
        h1 {
            color: variables.$solid-white;
            margin-top: 120px;
        }
        
    }
