@use "./variables";

.directory {
    margin-top: 200px;
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .row-01 {
        width: calc(100% / 2);
        width: 40%;
        margin: 25px;
    }
    .row-02 {
        width: calc(100% /2);
        width: 40%;
        margin: 25px;
    }
}

.directory .text-box-01, .text-box-02, .text-box-03, .text-box-04 {
    position: relative;
}


.directory {
    .text-box-01::before {
        content: url('../Boat-Ride-Adventures-final-assets/test-location-map-yellow.svg');
        width: 25px;
        height: 30px;
        display: inline-block;
        position: absolute;
        left: -50px;
        top: -3px;
    }
    .text-box-02::before {
        content: url('../Boat-Ride-Adventures-final-assets/test-community-icon2.svg');
        width: 25px;
        height: 30px;
        display: inline-block;
        position: absolute;
        left: -50px;
        top: -3px;
    }
    .text-box-03::before {
        content: url('../Boat-Ride-Adventures-final-assets/test-page-icon.svg');
        width: 25px;
        height: 30px;
        display: inline-block;
        position: absolute;
        left: -50px;
        top: -3px;
    }
    .text-box-04::before {
        content: url('../Boat-Ride-Adventures-final-assets/test-yellow.svg');
        width: 25px;
        height: 30px;
        display: inline-block;
        position: absolute;
        left: -50px;
        top: -3px;
    }
}