@use "./variables";

    header {
        background-image: url(../Boat-Ride-Adventures-final-assets/home-header.jpg);
        height: 70vh;
        background-size: cover;
        background-position: center;
        padding: 50px 50px 100px 50px;
        position: relative;
        .home-border {
            border-bottom: 2px solid variables.$dandelion;
        }
        h1 {
            text-transform: uppercase;
        }
        .img-container {
            position: absolute;
            bottom: -20%;
            right: 17%;
            width: 34%;
        }
    }

    header .wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        .h1-header {
            margin-top: 25%;
            width: 65%;
          }
        
    }

    header ul {
        display: flex;
        a {
            color: variables.$solid-white;
            margin: 0 25px;
        }
    }

    // drop down navigation styles 

.sandwhich-menu {
    display: none;
}
