@use "./variables";

// Absolute Image File Stylings

@media (max-width: 1745px) {

    .blog-page aside img {
        top: -4%;
    }
}

@media (max-width: 1700px) {

    .blog-page aside .blog-side-image {
        height: 350px;
    }
    .blog-page aside img {
        top: 0;
    }
}

@media (max-width: 1659px) {
    .blog-page main .blog-img-container {
        height: 475px;
    }
}

@media (max-width: 1563px) {
    .blog-main .left-side {
        width: 34%;
    }
    .blog-page aside .blog-side-image {
        height: 325px;
    }
    .blog-page main .blog-img-container img {
        top: -10%;
    }
}

@media (max-width: 1442px) {
    .blog-page aside .blog-side-image {
        height: 275px;
    }
    .blog-page main .blog-img-container img {
        top: -5%;
    }
}

@media (max-width: 1361px) {
    .blog-page aside .blog-side-image {
        height: 250px;
    }
    .blog-page main .blog-img-container img {
        top: 0;
    }
}

// Changing absolute images to relative


@media (max-width: 1361px) {

// Aside Section Changes

    .blog-main .left-side {
        width: 45%;
    }
    .blog-page aside img {
        position: relative;
        left: 0;
    }
    .blog-page aside .blog-side-image {
        height: auto;
    }

//Blog right side changes

    .blog-page main .blog-img-container img {
        position: relative;
        box-shadow: -13px 20px 0px variables.$dandelion;
    }
    .blog-page main .blog-img-container {
        height: 100%;
    }
}

@media (max-width: 1188px) {
    
// Left Side Changes

    .blog-page .our-mission {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .blog-side-image {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-bottom: 5%;
            img {
                width: 60%;
                box-shadow: -13px 20px 0px variables.$twilight-blue;
            }
    }
    .blog-page aside .wrapper {
        background-color: transparent;
    }
    .aside-text-container {
        background-color: variables.$twilight-blue;
        text-align: center;
    }
    .blog-page .aside-text-container .recent-posts {
        margin-top: 5%;
    }
    .blog-page .aside-text-container ul {
        line-height: normal;
        list-style-type: none;
        li {
            margin-left: 0;
        }
    }


    
// Right side changes 
    
    .blog-main {
        flex-wrap: wrap;
        .left-side {
            width: 100%;
        }
        .right-side {
            width: 100%;
            padding-left: 0;
            .wrapper {
                margin-left: auto;
            }
            .next-destination-border {
                border: 5px solid variables.$dandelion;
                margin-top: 100px;
            }
        }
    }
}