@use "./variables";

// Absolute Image File Stylings

@media (max-width: 1745px) {

    .blog-page aside img {
        top: -4%;
    }
}

@media (max-width: 1700px) {

    .blog-page aside .blog-side-image {
        height: 350px;
    }
    .blog-page aside img {
        top: 0;
    }
}

@media (max-width: 1659px) {
    .blog-page main .blog-img-container {
        height: 475px;
    }
}

@media (max-width: 1563px) {
    .blog-main .left-side {
        width: 34%;
    }
    .blog-page aside .blog-side-image {
        height: 325px;
    }
    .blog-page main .blog-img-container img {
        top: -10%;
    }
}

@media (max-width: 1442px) {
    .blog-page aside .blog-side-image {
        height: 275px;
    }
    .blog-page main .blog-img-container img {
        top: -5%;
    }
}

@media (max-width: 1361px) {
    .blog-page aside .blog-side-image {
        height: 250px;
    }
    .blog-page main .blog-img-container img {
        top: 0;
    }
}

// Changing absolute images to relative


@media (max-width: 1361px) {

// Aside Section Changes

    .blog-main .left-side {
        width: 45%;
    }
    .blog-page aside img {
        position: relative;
        left: 0;
    }
    .blog-page aside .blog-side-image {
        height: auto;
    }

//Blog right side changes

    .blog-page main .blog-img-container img {
        position: relative;
        box-shadow: -13px 20px 0px variables.$dandelion;
    }
    .blog-page main .blog-img-container {
        height: 100%;
    }
}

@media (max-width: 1150px) {
    .blog-main .left-side {
        width: 53%;
    }
}



@media (max-width: 1020px) {
    
// Left Side Changes

    .blog-page .our-mission {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .blog-side-image {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-bottom: 5%;
            img {
                width: 60%;
                box-shadow: -13px 20px 0px variables.$twilight-blue;
            }
    }
    .blog-page aside .wrapper {
        background-color: transparent;
    }
    .aside-text-container {
        background-color: variables.$twilight-blue;
        text-align: center;
    }
    .blog-page .aside-text-container .recent-posts {
        margin-top: 5%;
    }
    .blog-page .aside-text-container ul {
        line-height: normal;
        list-style-type: none;
        li {
            margin-left: 0;
        }
    }


    
// Right side changes 
    
    .blog-main {
        flex-wrap: wrap;
        .left-side {
            width: 100%;
        }
        .right-side {
            width: 100%;
            padding-left: 0;
            .wrapper {
                margin-left: auto;
            }
            .next-destination-border {
                border: 5px solid variables.$dandelion;
                margin-top: 100px;
            }
        }
    }
}

@media (max-width: 950px) {
    .header {
        text-align: center;
        h1 {
            margin-top: 215px;
        }
        .blog-nav-bar {
            font-size: 1.5rem;
        }
    }
}

@media (max-width: 831px) {
    .blog-page .form-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: variables.$twilight-blue;
        border: 5px solid variables.$dandelion;
        height: 800px;
        width: 100%;
    }
    .blog-page .form-wrapper .name-and-email-wrapper {
        flex-direction: column;
    }
    .blog-page {
        .users-email {
            margin-top: 15%;
            margin-right: 0;
        }
    }
    .blog-page .form-wrapper .name-and-email-wrapper #users-email{
        width: 100%;
    }
    .blog-page .form-wrapper .name-and-email-wrapper #users-name{
        width: 100%;
    }
}

@media (max-width: 600px) {
    .blog-page {
        header {
            height: 50vh;
        }
        h1 {
            font-size: 4rem;
            margin-top: 120px;
        }
        .blog-nav-bar {
            font-size: 1rem;
        }
    }

    .blog-side-image img {
        width: 100%;
    }

    .blog-page {
        .aside-text-container {
            margin-top: 60px;
        }
    }
    .blog-main .right-side .next-destination-border {
        margin-top: 55px;
    }
}

@media (max-width: 510px) {
    .blog-page main .blog-text-container h3 {
        font-size: 1.5rem;
    }
    .blog-page .comments .wrapper {
        width: 95%;
        h3 {
            text-align: center;
        }
    }
    .blog-page .myForm #comment {
        width: 100%;
    }
}

@media (max-width: 435px) {
    .blog-page .blog-nav-bar li {
        display: none;
    }
    .blog-page {             
            li {
                display: none;
            }
            header h1 {
                padding-top: 20%;
            }        
            .sandwhich-menu li {
                display: block;
            }
            .sandwhich-menu {
                content: url(../assets/bars-solid.svg);
                position: absolute;
                right: 0;
                width: 5rem;
                height: 3rem;
                display: flex;
                flex-direction: column;
            }
            .sandwhich-menu:active {
                content: '';
                background-color: variables.$twilight-blue;
                height: 85%;
                width: 100%;
            }
        }
    }


@media (max-width: 390px) {
    .blog-page main .blog-text-container h3 {
        font-size: 1.3rem;
    }
    .blog-page .wrapper {
        width: 95%;
    }
}

@media (max-width: 315px) {
    .blog-page h1 {
        font-size: 4rem;
    }
    .blog-page .sandwhich-menu {
        right: 0;
    }
}