@use "./variables";

html {
    /* if we set our root element font-size to 125%, then 1 rem = 20px */
    font-size: 125%;
  }
  
  body {
    font-family: variables.$body-font;
    font-size: variables.$base-font-size;
    color: black;
  }
  
  h1 {
    font-family: variables.$heading-font;
    font-weight: normal;
    font-style: italic;
    color: variables.$dandelion;
  }
  
  h2, h3, h4 {
    font-family: variables.$heading-font;
    font-weight: normal;
    font-style: italic;
    color: variables.$twilight-blue;
    margin: 0;
  }
  
  h1 {
    font-size: 3.95rem;
  }
  
  h2 {
    font-size: 2.25rem;
  }
  
  h3 {
    font-size: 2rem;
  }
  
  h4 {
    font-size: 1.25rem;
  }
  

  
  ul, li, a, input {
    padding: 0;
    margin: 0;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }

  button {
    background-color: variables.$dandelion;
    color: variables.$twilight-blue;
    font-family: variables.$heading-font;
    padding: 10px 20px;
    margin-top: 20px;
  }




