// Colours

$dandelion: #FDD908;
$ice-blue: #EAFEFC;
$twilight-blue: #0D457F; 
$solid-white: white;

// Font Families

$heading-font: 'IM Fell English', serif;
$body-font: 'Roboto', sans-serif;


// Font Size

$base-font-size: 1rem;


