@use "typography" as font;

// First line of gallery

.first-row{
    display: flex;
    flex-wrap: wrap;
    }

.text-box-one {
    width: 50%;
    background-color: darkgrey;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 18px;
    }

.zebra-image{
    width: 50%;
}

// First line of gallery ends


// Second line of gallery begins

.second-row {
    display: flex;
    flex-wrap: wrap;    
}

.kitty-hi-5 {
    width: 50%;
}

.kitty-hi-5 img{
    height: 100%;
}

.text-box-two {
    width: 50%;
    background-color: darkgrey;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 18px;
}


.blog-posts h3{
    color: #152D20;
    font-size: 1.94rem;
}

.blog-posts button{
    background-color: #152D20;
    color: white;
    font-family: font.$heading-text-button;
    padding: 10px 20px;
    margin-top: 20px;
}

// Second line of gallery ends