html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  /* if we set our root element font-size to 125%, then 1 rem = 20px */
  font-size: 125%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: black;
}

h1 {
  font-family: "IM Fell English", serif;
  font-weight: normal;
  font-style: italic;
  color: #FDD908;
}

h2, h3, h4 {
  font-family: "IM Fell English", serif;
  font-weight: normal;
  font-style: italic;
  color: #0D457F;
  margin: 0;
}

h1 {
  font-size: 3.95rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.25rem;
}

ul, li, a, input {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background-color: #FDD908;
  color: #0D457F;
  font-family: "IM Fell English", serif;
  padding: 10px 20px;
  margin-top: 20px;
}

.wrapper {
  max-width: 1260px;
  margin: 0 auto;
  width: 90%;
}

img {
  max-width: 100%;
  display: block;
}

html {
  background-color: #EAFEFC;
}

button {
  text-transform: uppercase;
}

header {
  background-image: url(../Boat-Ride-Adventures-final-assets/home-header.jpg);
  height: 70vh;
  background-size: cover;
  background-position: center;
  padding: 50px 50px 100px 50px;
  position: relative;
}
header .home-border {
  border-bottom: 2px solid #FDD908;
}
header h1 {
  text-transform: uppercase;
}
header .img-container {
  position: absolute;
  bottom: -20%;
  right: 17%;
  width: 34%;
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
header .wrapper .h1-header {
  margin-top: 25%;
  width: 65%;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header ul a {
  color: white;
  margin: 0 25px;
}

.sandwhich-menu {
  display: none;
}

.directory {
  margin-top: 200px;
  margin-bottom: 100px;
}
.directory ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.directory .row-01 {
  width: 50%;
  width: 40%;
  margin: 25px;
}
.directory .row-02 {
  width: 50%;
  width: 40%;
  margin: 25px;
}

.directory .text-box-01, .text-box-02, .text-box-03, .text-box-04 {
  position: relative;
}

.directory .text-box-01::before {
  content: url("../Boat-Ride-Adventures-final-assets/test-location-map-yellow.svg");
  width: 25px;
  height: 30px;
  display: inline-block;
  position: absolute;
  left: -50px;
  top: -3px;
}
.directory .text-box-02::before {
  content: url("../Boat-Ride-Adventures-final-assets/test-community-icon2.svg");
  width: 25px;
  height: 30px;
  display: inline-block;
  position: absolute;
  left: -50px;
  top: -3px;
}
.directory .text-box-03::before {
  content: url("../Boat-Ride-Adventures-final-assets/test-page-icon.svg");
  width: 25px;
  height: 30px;
  display: inline-block;
  position: absolute;
  left: -50px;
  top: -3px;
}
.directory .text-box-04::before {
  content: url("../Boat-Ride-Adventures-final-assets/test-yellow.svg");
  width: 25px;
  height: 30px;
  display: inline-block;
  position: absolute;
  left: -50px;
  top: -3px;
}

h3 {
  color: white;
}

.programs-and-locations {
  background-color: #0D457F;
  position: relative;
  margin-top: 50px;
  height: 740px;
}
.programs-and-locations .first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
.programs-and-locations .second-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.programs-and-locations .our-programs-text-box, .new-locations-text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 40%;
}

.new-locations-text-box {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.programs-and-locations img {
  width: 100%;
}
.programs-and-locations .our-programs-text-box {
  margin-top: 5%;
}
.programs-and-locations .second-row {
  margin-top: 50px;
}
.programs-and-locations .left-image {
  position: absolute;
  left: 16.5%;
  top: -10%;
  width: 28%;
  -webkit-box-shadow: 20px 20px 0px #FDD908;
          box-shadow: 20px 20px 0px #FDD908;
}
.programs-and-locations .right-image {
  position: absolute;
  right: 16.5%;
  bottom: -7%;
  width: 28%;
  -webkit-box-shadow: -20px 20px 0px #FDD908;
          box-shadow: -20px 20px 0px #FDD908;
}

.extra-vacation-banner {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.full-bleed-img .img-container {
  width: 100%;
  height: 400px;
}

.win-a-trip .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 550px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.win-a-trip .img-container {
  width: 25%;
  -webkit-box-shadow: -20px 20px 0px #FDD908;
          box-shadow: -20px 20px 0px #FDD908;
}
.win-a-trip .img-container img {
  width: 100%;
}
.win-a-trip .text-container {
  width: 65%;
  margin-left: 6%;
}

.img-gallery {
  background-color: #0D457F;
}
.img-gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.img-gallery li {
  width: calc(33.3333333333% - 25px);
  padding: 45px;
}
.img-gallery li .image-01 {
  margin-left: 15%;
}
.img-gallery li .image-03 {
  margin-left: -15%;
}

footer {
  background-color: #FDD908;
  text-align: center;
  height: 25px;
}
footer p {
  margin: 0;
}

.contact-page {
  display: block;
}
.contact-page header {
  background-image: url(../Boat-Ride-Adventures-final-assets/contact-header.jpg);
}
.contact-page header h1 {
  font-family: "IM Fell English", serif;
  font-weight: normal;
  font-style: italic;
  color: white;
  margin-top: 10%;
}
.contact-page header .contact-nav-bar a {
  color: white;
  font-weight: bold;
}
.contact-page header .contact-border {
  border-bottom: 2px solid #FDD908;
}
.contact-page main {
  font-family: "Roboto", sans-serif;
}

.contact-page .form-wrapper {
  background-color: #0D457F;
  position: absolute;
  right: 20%;
  width: 750px;
  height: 500px;
  bottom: 65%;
  -webkit-box-shadow: 20px 20px 0px #FDD908;
          box-shadow: 20px 20px 0px #FDD908;
  padding: 50px;
}
.contact-page .name-email-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact-page .name-email-row .users-name, .contact-page .name-email-row .users-email {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact-page .name-email-row #users-name, .contact-page .name-email-row #users-email {
  background-color: #0D457F;
  border-bottom: 1px solid #FDD908;
  width: 125%;
}

.contact-page .users-email {
  margin-right: 55px;
}
.contact-page .myForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact-page .myForm #comment {
  background-color: #0D457F;
  color: white;
  margin-top: 25px;
  border: 1px solid #FDD908;
}

.contact-page .contact-text-container {
  text-align: left;
}
.contact-page a {
  color: #0D457F;
}
.contact-page .icon-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.contact-page .socials-nav-bar {
  margin-bottom: 50px;
}
.contact-page .contact-page-section {
  margin-top: 12%;
  height: 410px;
  position: relative;
}
.contact-page .contact-page-section .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contact-page .contact-page-section p {
  line-height: 0.2rem;
  margin-left: 2.5rem;
}

.blog-page header {
  background-image: url(../Boat-Ride-Adventures-final-assets/blog-header.jpg);
}
.blog-page .blog-underline {
  border-bottom: 2px solid #FDD908;
}
.blog-page h1 {
  color: white;
  margin-top: 120px;
}

.blog-page main {
  width: 100%;
}

.blog-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.blog-main .next-destination .wrapper {
  margin-left: 9%;
}
.blog-main .right-side {
  padding-left: 17%;
}
.blog-main .left-side {
  width: 40%;
}
.blog-main .left-side .our-mission {
  width: 100%;
}

.blog-page {
  position: relative;
}
.blog-page main .next-destination-border {
  border-left: 5px solid #FDD908;
  border-bottom: 5px solid #FDD908;
}
.blog-page main .blog-img-container {
  width: 100%;
  height: 495px;
  padding-left: 1.5%;
  position: relative;
}
.blog-page main .blog-img-container img {
  position: absolute;
  top: -20%;
  -webkit-box-shadow: -20px 20px 0px #FDD908;
          box-shadow: -20px 20px 0px #FDD908;
}
.blog-page main .blog-text-container {
  margin: 0 auto;
  margin-top: 1.5%;
  margin-bottom: 5%;
  padding-top: 5%;
  width: 70%;
}
.blog-page main .blog-text-container h3 {
  color: #0D457F;
  text-transform: uppercase;
  padding-top: 5%;
}

.blog-page .comments {
  margin-top: 50px;
}
.blog-page .comments h3 {
  color: #0D457F;
  text-transform: uppercase;
}
.blog-page .comments .comment-dates {
  color: #0D457F;
  font-weight: bold;
}
.blog-page .comments .wrapper {
  width: 80%;
}

.blog-page .comment-01 {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blog-page .comment-01 .comment-01-img-container {
  width: 400px;
}
.blog-page .comment-01 .comment-01-img-container img {
  width: 100%;
}
.blog-page .comment-01 .comment-01-text {
  margin-left: 7%;
  margin-top: -25px;
}

.blog-page .comment-02 {
  margin-top: 9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blog-page .comment-02 .comment-02-img-container {
  width: 400px;
}
.blog-page .comment-02 .comment-02-img-container img {
  width: 100%;
}
.blog-page .comment-02 .comment-02-text {
  margin-left: 7%;
  margin-top: -25px;
}

.blog-page .form-wrapper {
  width: 80%;
  height: 500px;
  padding: 50px;
  margin: 0 auto;
  margin-top: 50px;
}
.blog-page .form-wrapper .name-and-email-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blog-page .form-wrapper .name-and-email-wrapper .users-name, .blog-page .form-wrapper .name-and-email-wrapper .users-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: lighter;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.blog-page .form-wrapper .name-and-email-wrapper #users-name, .blog-page .form-wrapper .name-and-email-wrapper #users-email {
  background-color: #EAFEFC;
  width: 125%;
  border-bottom: 1px solid #FDD908;
}

.blog-page .users-email {
  margin-right: 55px;
}
.blog-page .myForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.blog-page .myForm #comment {
  background-color: #EAFEFC;
  margin-top: 25px;
  border: 1px solid #FDD908;
}
.blog-page button {
  background-color: #0D457F;
  color: #FDD908;
}

.blog-page .name-text, .blog-page .email-text {
  margin-left: 20px;
}

.blog-main .left-side {
  width: 30%;
}

.blog-page aside .wrapper {
  background-color: #0D457F;
  position: relative;
}
.blog-page aside h4 {
  color: #FDD908;
  text-transform: uppercase;
}
.blog-page aside p {
  color: white;
}
.blog-page .our-mission {
  width: 30%;
  margin-top: 35%;
}
.blog-page .aside-text-container {
  padding: 25px;
}
.blog-page .aside-text-container .recent-posts {
  margin-top: 12%;
}
.blog-page .aside-text-container ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1rem;
  list-style: circle;
}
.blog-page .aside-text-container ul li {
  margin-left: 10%;
  color: white;
}

.blog-page aside .blog-side-image {
  height: 400px;
}
.blog-page aside img {
  position: absolute;
  top: -5%;
  left: -6%;
}

@media (max-width: 1850px) {
  header .img-container {
    right: 10%;
  }
}
@media (max-width: 1465px) {
  header .img-container {
    right: 0;
    width: 40%;
  }
  .programs-and-locations .right-image {
    right: 0;
    width: 40%;
  }
  .programs-and-locations .left-image {
    left: 0;
    width: 40%;
  }
}
@media (max-width: 1105px) {
  header .img-container {
    bottom: -10%;
  }
  .programs-and-locations {
    height: 100%;
  }
  .programs-and-locations .right-image {
    right: 0;
    width: 50%;
  }
  .programs-and-locations .left-image {
    left: 0;
    width: 50%;
    top: -3%;
  }
  .directory {
    margin-bottom: 0;
  }
}
@media (max-width: 950px) {
  header .img-container {
    display: none;
  }
  header .wrapper {
    text-align: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  header ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .img-gallery ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .img-gallery li {
    width: 60%;
  }
  .img-gallery li .image-01 {
    margin-left: 0;
  }
  .img-gallery li .image-03 {
    margin-left: 0;
  }
}
@media (max-width: 905px) {
  header .wrapper .h1-header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .directory {
    margin-top: 100px;
  }
}
@media (max-width: 861px) {
  .programs-and-locations .right-image {
    bottom: 0;
  }
  .programs-and-locations .left-image {
    top: 0;
  }
  .win-a-trip .wrapper {
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .win-a-trip .wrapper .img-container {
    width: 45%;
    margin-top: 10%;
  }
  .win-a-trip .wrapper .text-container {
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
  }
}
@media (max-width: 745px) {
  h1 {
    font-size: 3.5rem;
  }
  header .wrapper .h1-header {
    margin-top: 33%;
  }
  .programs-and-locations .first-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 12%;
  }
  .programs-and-locations .our-programs-text-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10%;
    width: 55%;
  }
  .programs-and-locations .left-image {
    position: relative;
    width: 60%;
  }
  .programs-and-locations .second-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 12%;
  }
  .programs-and-locations .new-locations-text-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-top: 10%;
    width: 55%;
  }
  .programs-and-locations .right-image {
    position: relative;
    width: 60%;
  }
  .img-gallery li {
    width: 85%;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }
  header .wrapper .h1-header {
    margin-top: 45%;
  }
  .directory .row-01 {
    width: 50%;
  }
  .directory .row-02 {
    width: 50%;
  }
  .extra-vacation-banner .wrapper {
    width: 70%;
  }
}
@media (max-width: 469px) {
  h1 {
    font-size: 2.5rem;
  }
  header .wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .wrapper .h1-header {
    margin-top: 55%;
  }
}
@media (max-width: 430px) {
  .nav-bar li {
    display: none;
  }
  .nav-bar .sandwhich-menu li {
    display: block;
  }
  h1 {
    font-size: 2.3rem;
  }
  header .wrapper .h1-header {
    text-align: center;
    margin-top: 65%;
  }
  .sandwhich-menu {
    content: url(../Boat-Ride-Adventures-final-assets/bars-solid.svg);
    position: absolute;
    right: 0;
    width: 5rem;
    height: 2rem;
    fill: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sandwhich-menu:active {
    content: "";
    background-color: #0D457F;
    height: 85%;
    width: 100%;
  }
}
@media (max-width: 406px) {
  header {
    height: 50vh;
  }
  header h1 {
    font-size: 2rem;
  }
  header .wrapper .h1-header {
    margin-top: 50%;
  }
  .directory .row-01 {
    width: 70%;
  }
  .directory .row-02 {
    width: 70%;
  }
  .programs-and-locations .our-programs-text-box {
    width: 70%;
  }
  .programs-and-locations .left-image {
    width: 80%;
  }
  .programs-and-locations .right-image {
    width: 80%;
  }
  .programs-and-locations .new-locations-text-box {
    width: 70%;
  }
  .extra-vacation-banner {
    height: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .win-a-trip .wrapper .img-container {
    width: 60%;
  }
  .win-a-trip .text-container {
    width: 75%;
  }
  .img-gallery li {
    padding: 20px;
  }
}
@media (max-width: 370px) {
  header h1 {
    font-size: 1.85rem;
  }
  .directory {
    margin-top: 35px;
  }
  .full-bleed-img .img-container {
    width: 100%;
    height: 300px;
  }
}
@media (max-width: 345px) {
  header h1 {
    font-size: 1.65rem;
  }
}
@media (max-width: 311px) {
  header .wrapper .h1-header {
    margin-top: 75%;
  }
  header h1 {
    font-size: 1.4rem;
  }
}
@media (max-width: 1745px) {
  .blog-page aside img {
    top: -4%;
  }
}
@media (max-width: 1700px) {
  .blog-page aside .blog-side-image {
    height: 350px;
  }
  .blog-page aside img {
    top: 0;
  }
}
@media (max-width: 1659px) {
  .blog-page main .blog-img-container {
    height: 475px;
  }
}
@media (max-width: 1563px) {
  .blog-main .left-side {
    width: 34%;
  }
  .blog-page aside .blog-side-image {
    height: 325px;
  }
  .blog-page main .blog-img-container img {
    top: -10%;
  }
}
@media (max-width: 1442px) {
  .blog-page aside .blog-side-image {
    height: 275px;
  }
  .blog-page main .blog-img-container img {
    top: -5%;
  }
}
@media (max-width: 1361px) {
  .blog-page aside .blog-side-image {
    height: 250px;
  }
  .blog-page main .blog-img-container img {
    top: 0;
  }
}
@media (max-width: 1361px) {
  .blog-main .left-side {
    width: 45%;
  }
  .blog-page aside img {
    position: relative;
    left: 0;
  }
  .blog-page aside .blog-side-image {
    height: auto;
  }
  .blog-page main .blog-img-container img {
    position: relative;
    -webkit-box-shadow: -13px 20px 0px #FDD908;
            box-shadow: -13px 20px 0px #FDD908;
  }
  .blog-page main .blog-img-container {
    height: 100%;
  }
}
@media (max-width: 1150px) {
  .blog-main .left-side {
    width: 53%;
  }
}
@media (max-width: 1020px) {
  .blog-page .our-mission {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .blog-side-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-bottom: 5%;
  }
  .blog-side-image img {
    width: 60%;
    -webkit-box-shadow: -13px 20px 0px #0D457F;
            box-shadow: -13px 20px 0px #0D457F;
  }
  .blog-page aside .wrapper {
    background-color: transparent;
  }
  .aside-text-container {
    background-color: #0D457F;
    text-align: center;
  }
  .blog-page .aside-text-container .recent-posts {
    margin-top: 5%;
  }
  .blog-page .aside-text-container ul {
    line-height: normal;
    list-style-type: none;
  }
  .blog-page .aside-text-container ul li {
    margin-left: 0;
  }
  .blog-main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .blog-main .left-side {
    width: 100%;
  }
  .blog-main .right-side {
    width: 100%;
    padding-left: 0;
  }
  .blog-main .right-side .wrapper {
    margin-left: auto;
  }
  .blog-main .right-side .next-destination-border {
    border: 5px solid #FDD908;
    margin-top: 100px;
  }
}
@media (max-width: 950px) {
  .header {
    text-align: center;
  }
  .header h1 {
    margin-top: 215px;
  }
  .header .blog-nav-bar {
    font-size: 1.5rem;
  }
}
@media (max-width: 831px) {
  .blog-page .form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: #0D457F;
    border: 5px solid #FDD908;
    height: 800px;
    width: 100%;
  }
  .blog-page .form-wrapper .name-and-email-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog-page .users-email {
    margin-top: 15%;
    margin-right: 0;
  }
  .blog-page .form-wrapper .name-and-email-wrapper #users-email {
    width: 100%;
  }
  .blog-page .form-wrapper .name-and-email-wrapper #users-name {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .blog-page header {
    height: 50vh;
  }
  .blog-page h1 {
    font-size: 4rem;
    margin-top: 120px;
  }
  .blog-page .blog-nav-bar {
    font-size: 1rem;
  }
  .blog-side-image img {
    width: 100%;
  }
  .blog-page .aside-text-container {
    margin-top: 60px;
  }
  .blog-main .right-side .next-destination-border {
    margin-top: 55px;
  }
}
@media (max-width: 510px) {
  .blog-page main .blog-text-container h3 {
    font-size: 1.5rem;
  }
  .blog-page .comments .wrapper {
    width: 95%;
  }
  .blog-page .comments .wrapper h3 {
    text-align: center;
  }
  .blog-page .myForm #comment {
    width: 100%;
  }
}
@media (max-width: 435px) {
  .blog-page .blog-nav-bar li {
    display: none;
  }
  .blog-page li {
    display: none;
  }
  .blog-page header h1 {
    padding-top: 20%;
  }
  .blog-page .sandwhich-menu li {
    display: block;
  }
  .blog-page .sandwhich-menu {
    content: url(../Boat-Ride-Adventures-final-assets/bars-solid.svg);
    position: absolute;
    right: 0;
    width: 5rem;
    height: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog-page .sandwhich-menu:active {
    content: "";
    background-color: #0D457F;
    height: 85%;
    width: 100%;
  }
}
@media (max-width: 390px) {
  .blog-page main .blog-text-container h3 {
    font-size: 1.3rem;
  }
  .blog-page .wrapper {
    width: 95%;
  }
}
@media (max-width: 315px) {
  .blog-page h1 {
    font-size: 4rem;
  }
  .blog-page .sandwhich-menu {
    right: 0;
  }
}
@media (max-width: 1404px) {
  .contact-page .form-wrapper {
    right: 0;
  }
}
@media (max-width: 1337px) {
  .contact-page .form-wrapper {
    bottom: 35%;
  }
  .contact-page .contact-text-container {
    margin-top: 10%;
    margin-bottom: 10%;
  }
}
@media (max-width: 1175px) {
  .contact-page .form-wrapper {
    width: 650px;
  }
}
@media (max-width: 1075px) {
  .contact-page .contact-page-section {
    margin-top: 0;
    height: 100%;
  }
  .contact-page .contact-page-section p {
    margin-left: 0;
  }
  .contact-page .form-wrapper {
    position: relative;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-top: 15%;
  }
  .contact-page .contact-page-section .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .contact-page .contact-text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
  }
  .contact-page .contact-info {
    margin-top: -25px;
  }
}
@media (max-width: 950px) {
  .contact-page li {
    font-size: 1.5rem;
  }
  .contact-page .contact-nav-bar {
    margin-bottom: 18%;
  }
}
@media (max-width: 765px) {
  .contact-nav-bar {
    margin-bottom: 28%;
  }
  .contact-page .name-email-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-page .form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 800px;
    width: 100%;
  }
  .contact-page .name-email-row #users-name, .contact-page .name-email-row #users-email {
    width: 100%;
  }
  .contact-page .users-email {
    margin-right: 0;
    margin-top: 20%;
  }
}
@media (max-width: 678px) {
  .contact-page li {
    font-size: 1.25rem;
  }
  .contact-page .contact-nav-bar {
    margin-bottom: 28%;
  }
}
@media (max-width: 573px) {
  .contact-page li {
    display: none;
  }
  .contact-page header h1 {
    padding-top: 20%;
  }
  .sandwhich-menu li {
    display: block;
  }
  .contact-page .sandwhich-menu {
    content: url(../Boat-Ride-Adventures-final-assets/bars-solid.svg);
    position: absolute;
    right: 0;
    width: 5rem;
    height: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sandwhich-menu:active {
    content: "";
    background-color: #0D457F;
    height: 85%;
    width: 100%;
  }
}
@media (max-width: 506px) {
  .contact-page #comment {
    width: 100%;
  }
}
@media (max-width: 430px) {
  .contact-page .nav-bar li {
    display: none;
  }
  .contact-page .sandwhich-menu li {
    display: block;
  }
  .contact-page h1 {
    font-size: 2.3rem;
  }
  .contact-page header .wrapper .h1-header {
    text-align: left;
    margin-top: 65%;
  }
}
@media (max-width: 367px) {
  .contact-page header h1 {
    padding-top: 30%;
  }
  .contact-page .sandwhich-menu {
    height: 2.5rem;
    right: 0;
  }
  .contact-page .users-email {
    margin-top: 35%;
  }
  .sandwhich-menu:active {
    content: "";
    background-color: #0D457F;
    height: 85%;
    width: 100%;
  }
}